.main {
  background-color:lightblue;
  text-align:center;
}

.car {
  float:left;
  background-color:lightgrey;
  min-height:150px;
  width: 25%;
  text-align:center;
  border-style: solid;
  border-color: black;
  margin-right: 1%;
  margin-left: 1%
}

#calc {
  width: 43%
}

.author {
  clear:both;
  text-align:center;
  line-height: 200px
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 99%;
  height: 25px;
  background: lightgrey;
  outline: none;
}

/* suwak - chrome i inne */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: green;
  cursor: pointer;
}

/* suwak - firefox */
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: green;
  cursor: pointer;
}
